@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Libre+Baskerville&family=Libre+Caslon+Text:ital@1&family=Lobster&family=Oswald:wght@700&family=Roboto:wght@100&family=Rubik:wght@300&display=swap');

body {
  background: black;
  color: #ffff;
}

.movie-app-wrapper{
  position: relative;
  isolation: isolate;
  height: 752px;
}

.movie-app-wrapper::after{
  --bg-image:url(../src/assets/img/movies-2.jpg);
  --bg-image-opacity:.2;
  content:'';
  position: absolute;
  z-index: -1;
  inset: 0;
  background: black;
  opacity: var(--bg-image-opacity);

  background-image: var(--bg-image);
  background-repeat: none;
  background-size: cover;
  background-position: center;
}

.movies{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 370px;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
}

.image-container{
position: relative;
transition: 0.2s;
}

.image-container:hover{
  cursor: pointer;
  border-radius: 5px;
    border: 1px solid red;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    box-shadow: 0 0 1em 0 red;
}

.image-container:hover .overlay{
  opacity: 0.8;
}

.overlay {
  position: absolute;
  background: #000;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 15px;
  padding: 15px;
  text-align: center;
}

.about-text{
  display: flex;
  justify-content: center;
  align-items: last baseline;
  height: 200px;
}

.about-text h2{
  font-size: 40px;
  font-family: 'Oswald', sans-serif;
}

.search-box{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-bottom: 10px;
  
}

.search-box-input{
  width: 500px;
  height: 50px;
  padding-left: 10px;
  background: transparent;
  border: 1px solid red;
  border-radius: 5px;
  color: white;
  outline: none;
  font-style: italic;
    
}


.red-separetor{
  display: block;
    width: 100%;
    height: 5px;
    background-color: red;
}

.favourites h1{
 font-family: 'Oswald', sans-serif;
}
